.cart-background{
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}


.cart-table{
  width: 100%;
  max-width: 700px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  border-collapse: collapse;
}

.cart-table td, .cart-table th{
  padding: 10px;
  border-bottom: 1px solid white;
}
.cart-table th:nth-child(2){
  width: 400px;
}



image{
  margin: 0 0 0 20px;
}





button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none ;
  
  font-size: 18px;
  cursor: pointer;

}

.button-coral{
  color: white;
  background-color: coral;
}

button:hover{
  background-color: #c2d3de;
}
button:focus{
  background-color: gray;
}
button:active{
  background-color: #4c92c0;
}