.top-container{
  display: flex;
  width: 100%;
  height: 500px;
  background: linear-gradient(to top, #3043eb, #7aa1f5);
  justify-content: space-around;
  margin: 0 auto;
  padding: 1px;
}

.text-1{
  color: white;
  margin: 30px 0 0 10px;
}
.light_gray-btn{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100px;
  height: 50px;
  background-color: rgb(90, 90, 90);
  border-radius: 5px;
  color: white;
}
.iphone{
  align-self: flex-end;
}

.text-2{
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;

}
.p-2{
  font-weight: 500;
  margin-bottom: 0;
}
.gray-btn{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 150px;
  height: 50px;
  background-color: rgb(65, 64, 64);
  border-radius: 5px;
  color: white;
  margin: 20px 0 0 0 ;
}
.middle-container{
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #5464f0;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-align: center;
  
}


.p-4{
 margin: 50px 0 0 0 ;
}
.p-5{
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}
.icons-1{
  display: flex;
  justify-content: center;
}
.middle-container div{
  flex: 1 1 25%;
}

.middle-container .icons-1{
  margin-top: 20px;
}

.middle-container .icons-1 > div i {
  display: inline-flex;           
  justify-content: center;         
  align-items: center;             
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #5464f0;
}

.text-3{
  width: 100%;
  height: 100px;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.p-6{
  margin: 30px 0 0 0;
}
.p-7{
  font-weight: 600;
  margin: 0;
}




/* 이미지들 배치 */

.bottom-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.overlay-wrapper {
  display: flex;
}

.overlay-container {
  position: relative;     
  flex: 1;              
  overflow: hidden;
}



.overlay-container img {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
  
}

.overlay-container:hover img {
  filter: brightness(50%);
  transform: scale(1.05);
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}




.overlay-container img {
  display: block;
  width: 100%;
  height: auto;
}


.img-text1 {
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
}

.img-text2 {
  position: absolute;
  top: 80px; 
  left: 35px;
  color: white;
  padding: 4px 8px;
  font-size:12px;
  z-index: 2;
}


/* 여기까지 */



.icons-2{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content:center;
  
}
.icons-2 i{
  padding: 20px;
  margin: 30PX;
}

.icons-2 > div i {
  display: flex;           
  justify-content: center;         
  align-items: center;             
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5464f0;
  color: #ffffff;
}